<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classic Encryption Challenges</title>
</head>
<body>

<h1>Welcome young apprentices!</h1>
<p>Before you stand 5 challenges, that will <b>put your skills to the test!</b></p>
<p>You can interact with the API as follows:</p>
<p>
    <code>/&lt;challenge number&gt;/encrypt/&lt;plain text&gt;</code> to encrypt something.
</p>
<p>
    <code>/&lt;challenge number&gt;/hint</code> if you need a hint.
</p>
<p>The challenges are numbered 1-5 in no particular order.</p>
<p>Try to solve as many as you can!</p>
<p>Note that some encryption mechanisms also use a key!</p>
<b>Good luck!</b>

</body>
</html>